@mixin flex() {
    display: flex;

    &>*:not(:only-child) {
        flex: 1
    }
}

.flex {
    &.flex-padding {
        &>*:not(:first-child) {
            margin-left: 10px;
        }
    }

    @media (max-width: $screen-xs-max) {
        @include flex;
    }
}

.flex-gte-sm {
    @media (min-width: $screen-sm-min) {
        @include flex;
    }
}

.flex-gte-md {
    @media (min-width: $screen-md-min) {
        @include flex;
    }
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.flex-4 {
    flex: 4 !important;
}