section {
    background-color: #fff;
    border: 1px solid #ddd;

    @include clearfix;
    @include animate();
    @media (max-width: $screen-sm-max) {
        margin: 0;
    }
    @media (min-width: $screen-md-min) {
        margin: 15px;
    }
}