// Lib
@import "./components/bootstrap.scss";

// Mixins
@import "./components/mixins/animate.scss";

// Components
@import "./components/header.scss";
@import "./components/nav.scss";
@import "./components/section.scss";
@import "./components/spinners.scss";
@import "./components/tabs.scss";

body {
    background-color: #4B334B;
    background-image: url("../images/bg.png");
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: $screen-lg;
}

a {
    cursor: pointer;
}

textarea, [btf-markdown] {
    min-height: 200px;
    resize: none;
}

.margin {
    margin: 15px;
}

.list-group {
    @include animate();
    @media (max-width: $screen-sm-max) {
        margin: 0;
    }
    @media (min-width: $screen-md-min) {
        margin: 15px;
    }
}

.margin {
    margin: 15px;
}