@mixin formElement {
    width: 100%;
    border: 1px solid transparent;
    padding: 10px;

    &:focus {
        position: relative;
        outline: none;
        box-shadow: 0 0 0 1px rgba(0,100,255,0.4) inset;
        border-color: rgba(0,100,255,0.4);
        //box-shadow: 0 0 0 1px rgba(255,100,0,0.4) inset;
        //border-color: rgba(255,100,0,0.4);
    }
}