<main>
    <nav>
        <a routerLink="/notes">My Notes</a>
        <div class="pull-right">
            <app-auth></app-auth>
        </div>
    </nav>

    <app-large-spinner *ngIf="isLoading"></app-large-spinner>

    <section *ngIf="note && !isEditing">
        <header class="flex padding-h">
            <span class="tab">View</span>
            <button class="header-button" (click)="isEditing = !isEditing">Edit</button>
        </header>
        <div class="margin">
            <span class="badge" *ngFor="let tag of note.tags">{{tag}}</span>
        </div>
        <div class="margin" [innerHTML]="note.text | marked"></div>
    </section>

    <section *ngIf="note && isEditing">
        <header class="flex padding-h">
            <button class="header-button" (click)="isEditing = !isEditing; save()">View</button>
            <span class="tab">Edit</span>
        </header>
        <button class="btn btn-default margin" *ngIf="!isDeleting" (click)="delete()">Delete this Note</button>
        <button class="btn btn-default margin" *ngIf="isDeleting">Deleting Note <app-spinner></app-spinner></button>
        <hr>
        <div class="tag-input">
            <input type="text"
                class="tags transparent"
                placeholder="tags"
                [(value)]="tags"
                (valueChange)="tagsChanged(); isDirty = true"
                [debounce]="2000">
            <div><span class="badge" *ngFor="let tag of note.tags">{{tag}}</span></div>
        </div>
        <hr class="dashed">
        <textarea [(value)]="note.text" (valueChange)="isDirty = true" [debounce]="2000" autosize></textarea>
    </section>

    <div class="sm text-center" style="color:#f5f5f5;" *ngIf="!note && !isLoading">
        <h1>404</h1>
        <span>~(=^..^)</span>
    </div>
</main>