<div ng-controller="NoteController as vm">
    <spinner class="light" ng-if="!vm.note"></spinner>

    <section ng-if="vm.note">
        <ul class="nav nav-tabs">
            <li ng-class="{ 'active': vm.view == 'md' }"><a ng-click="vm.view='md'">view</a></li>
            <li ng-class="{ 'active': vm.view == 'edit' }"><a ng-click="vm.view='edit'">edit</a></li>
        </ul>

        <div class="margin" btf-markdown="vm.note.text" ng-if="vm.view == 'md'"></div>
        <form ng-if="vm.view == 'edit'">
            <div class="margin">
                <button class="btn btn-default"
                        ng-click="vm.delete()"
                        ng-disabled="!vm.note.id">
                        <span ng-if="!vm.isDeleting">Delete this Note</span>
                        <span ng-if="vm.isDeleting">Deleting <pulse></pulse></span>
                    </button>
            </div>
            <div class="margin form-group">
                <textarea class="form-control"
                          ng-model="vm.note.text"
                          ng-model-options="{updateOn: 'default blur', debounce: { default: 4000, blur: 0 }}"
                          ng-change="vm.save()"
                          msd-elastic></textarea>
            </div>
        </form>
    </section>
</div>